<div class="container">
    <form *ngIf="list.length>0" class="">
        <div *ngFor="let l of lists">
            <div><h1>Advanced Configuration</h1></div>
            <div  class="row border border-1 rounded">
                <div class="col-sm-6 p-3">
    
                    <label><b>Default Value</b></label>
                <input type="number" class="form-control" placeholder="Enter the Default value">
                
            </div>

            </div>
            <h1 class="p-3 mt-2">Filters</h1>
            <div  class="row border border-1 rounded">
                <div class="col-sm-6 p-3">
                <label><b>Applies To</b> </label>
                <input type="text" class="form-control" placeholder="Enter the Element types this property can be applied to">
                </div>
                <div class="col-sm-6 p-3">
                 <label><b>Base Stereotype</b></label>
                 <input type="text" class="form-control" placeholder="Enter the Stereotypes this property can be applied to">
                </div>
            </div>
         
              
        </div>
       
    </form>
</div>

